<main class="dashboard__main">
  <!-- Nav -->
  <div class="dashboard__main-container row ">
    <div class="dashboard__main-content neutral02 col-md-11 p-3">
      <div class="path mb-4 path-bread">
        <a href="/" class="fw-normal">Cars</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="/" class="fw-normal">List Cars</a>
        <i class="fa-solid fa-chevron-right"></i>
        <a href="/add" class="fw-bold">Add New Car</a>
      </div>

      <div
        class="dashboard__list d-flex justify-content-between align-items-center mb-4 mb-md-3"
      >
        <h3 class="fw-bolder">Add New Car</h3>
      </div>

      <div class="dashboard__form">
        <form action="/api/car/create" method="post" class=" py-4">
          <div class="container-fluid mb-4">
            <div class="row">
              <label for="name" class="col-md-3">Nama</label>
              <input
                type="text"
                class=" form-control form-width col-xs-4 form-control-add"
                name="name"
                id="name"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="container-fluid mb-4">
            <div class="row">
              <label for="price" class="col-md-3">Sewa Per Hari</label>
              <input
                type="number"
                class="col-md-9 form-control form-width form-control-add"
                name="price"
                id="price"
                autocomplete="off"
                placeholder="Rp."
              />
            </div>
          </div>

          <div class="container-fluid mb-4">
            <div class="row">
              <label for="size" class="col-md-3">Ukuran</label>
              <select
                name="size"
                id="size"
                class="form-select form-width fw-normal"
              >
                <option value="small" class="fw-normal">Small</option>
                <option value="medium" class="fw-normal">Medium</option>
                <option value="large" class="fw-normal">Large</option>
              </select>
            </div>
          </div>

          <div class="container-fluid mb-4">
            <div class="row">
              <label for="photo" class="col-md-3">photo</label>
              <div class="col-md-9 p-0">
                  <input
                    type="text"
                    class="form-control form-control-add"
                    name="photo"
                    id="photo"
                    autocomplete="off"
                    placeholder="ketik link"
                  />
              </div>
            </div>
          </div>

          <div class="container-fluid mb-4">
            <div class="d-flex">
              <button type="input" class="btn btn-primary-outline me-4 border-blue">
                Cancel
              </button>
              <input type="submit" id="submitBtn" class="btn btn-primary"/> 
              </input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="../public/js/script.js"></script>
