<p>
  Open the console log (Ctrl + Shift + I in Chrome) to see the result of the GET
  request. If successful, it will return an object containing data about user 2.
</p>
<button id="tes" onclick="showResult()">Show result</button>
<div id="output"></div>

<script src="../public/js/script.js"></script>
