<!-- body -->
<section>
  <div class="container-fluid">
    <div class="path mb-4">
      <a href="/" class="fw-bold">Cars</a>
      <i class="fa-solid fa-chevron-right"></i>
      <a href="/" class="fw-bold">List Cars</a>
    </div>
    <div class="row align-items-center">
      <div class="col-2 p-0">
        <h1 class="main-content-header-title ms-2">List Car</h1>
      </div>
      <div class="col-10 pe-4 text-end">
        <a href="/add" class="btn btn-blue"
          ><i class="fa-solid fa-plus"></i> Add New Car</a
        >
      </div>
    </div>
  </div>

  <!-- Filter Content -->
  <ul class="nav nav-pills mt-4">
    <li class="nav-item">
      <a class="nav-link active nav-tab" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-tab" href="#">small</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-tab" href="#">Medium</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-tab" href="">Large</a>
    </li>
  </ul>
</section>
<!-- end body -->

<!-- Content Body -->
<section class="main-content-body mt-4 dashboard__cars">
  <div class="container-fluid">
    <div class="row gap-0 me-0">
      <%cars.data.forEach(car => { %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img
            src="/images/car.png "
            class="card-img-top img-fluid p-4"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title main-content-body-title"><%= car.name %></h5>
            <h4 class="card-title main-content-body-price">
              Rp <%= car.price %> / hari
            </h4>
            <p class="card-text fw-normal mb-5 d-flex align-items-center">
              <img
                src="/icons/fi_clock.png"
                alt="Clock Icon"
                class="me-2"
                style="display: inline-block; width: 18px"
              />
              Update at <%= car.updatedAt %>
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <a
                href="/destroy/<%=car.id%>"
                class="btn btn-delete d-flex align-items-center justify-content-center w-100"
              >
                <img src="/icons/fi_trash.png" class="me-2 delete" /> Delete
              </a>
              <a
                href="/update/<%=car.id%>"
                class="btn btn-success text-light d-flex align-items-center justify-content-evenly px-xl-4 px-md-3 py-xl-3 py-md-2"
              >
                <img src="/icons/fi_edit.png" class="me-2" /> Update
              </a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<script src="../public/js/script.js"></script>
