body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

.side-menu1 {
  background-color: #0d28a6;
  height: 100%;
  width: 7%;
  position: fixed;
  z-index: 99;
}
.square {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
.side-menu1 a {
  text-decoration: none;
  color: #fff;
}
.side-menu2 {
  background-color: #ffffff;
  height: 100%;
  width: 15%;
  overflow: auto;
}
.side-menu2 a {
  text-decoration: none;
  color: #d1d5db;
  font-weight: bold;
}
.nav-tab {
  color: #aeb7e1;
  border: 1px solid #aeb7e1 !important;
  margin-right: 15px;
}

.nav-tab:hover {
  color: #0d28a6 !important;
  background-color: #cfd4ed !important;
  border: 1px solid #0d28a6;
}

.nav-tab.active {
  color: #0d28a6 !important;
  background-color: #cfd4ed !important;
  border: 1px solid #0d28a6;
}

.btn-blue {
  background-color: #0d28a6;
  color: #fff;
}
.btn-delete {
  border: solid red 2px;
}

.path > a {
  text-decoration: none;
  color: #000;
}
.form-control-add,
.form-select {
  width: 30%;
}
.border-blue {
  border: solid 1px blue;
  color: blue;
}
.btn-outline-success {
  color: #0010ff;
  border-color: #0026ff;
}
